@import '_init';

header {
    background: #101126 url(../img/background.jpg) no-repeat;
    background-position: left bottom -100px;
    @include background-size(cover);
    height: 50vh;
    @include display-flex(flex);
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    @include justify-content(center);
    @include align-items(center);

    h1 {
        @include police($titre, left);
    }

    p {
        @extend h1;
        font-size: $sous_titre;
    }

    @media screen and (max-width: 771px) {
        background-position: center;
    }
}