html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .icons-fb, .icons-ig, .icons-tw, .icons-yt {
  background-image: url('../img/icons-s539fd97bdc.png');
  background-repeat: no-repeat;
}

.icons-fb {
  background-position: 0 0;
}
.icons-fb:hover, .icons-fb.fb-hover {
  background-position: 0 -100px;
}

.icons-ig {
  background-position: 0 -200px;
}
.icons-ig:hover, .icons-ig.ig-hover {
  background-position: 0 -300px;
}

.icons-tw {
  background-position: 0 -400px;
}
.icons-tw:hover, .icons-tw.tw-hover {
  background-position: 0 -500px;
}

.icons-yt {
  background-position: 0 -600px;
}
.icons-yt:hover, .icons-yt.yt-hover {
  background-position: 0 -700px;
}

html, body, * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer {
  background: #00008b;
  min-height: 20vh;
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}
footer a div {
  height: 100px;
  width: 100px;
}
