.icons-sprite, .icons-fb, .icons-ig, .icons-tw, .icons-yt {
  background-image: url('../img/icons-s539fd97bdc.png');
  background-repeat: no-repeat;
}

.icons-fb {
  background-position: 0 0;
}
.icons-fb:hover, .icons-fb.fb-hover {
  background-position: 0 -100px;
}

.icons-ig {
  background-position: 0 -200px;
}
.icons-ig:hover, .icons-ig.ig-hover {
  background-position: 0 -300px;
}

.icons-tw {
  background-position: 0 -400px;
}
.icons-tw:hover, .icons-tw.tw-hover {
  background-position: 0 -500px;
}

.icons-yt {
  background-position: 0 -600px;
}
.icons-yt:hover, .icons-yt.yt-hover {
  background-position: 0 -700px;
}
